.theme_bg

{

	background-image:none;

	background-repeat:no-repeat;

	background-size:cover;	

	background: radial-gradient(center , circle cover , rgb(0, 0, 0) 1% , rgb(66, 160, 203) 1% , rgb(167, 161, 1) 4% , rgb(224, 226, 148) 5% , rgb(244, 143, 112) 7% , rgb(5, 183, 188) 9% , rgb(139, 43, 172) 11% , rgb(96, 57, 220) 33% , rgb(239, 147, 12) 34% , rgb(86, 167, 12) 58% , rgb(189, 64, 228) 60% , rgb(150, 148, 245) 68% , rgb(85, 91, 42) 73% , rgb(0, 0, 0) 80% , rgb(29, 174, 161) 83% , rgb(41, 226, 146) 85% , rgb(72, 58, 17) 88%);
background: -o-radial-gradient(center , circle cover , rgb(0, 0, 0) 1% , rgb(66, 160, 203) 1% , rgb(167, 161, 1) 4% , rgb(224, 226, 148) 5% , rgb(244, 143, 112) 7% , rgb(5, 183, 188) 9% , rgb(139, 43, 172) 11% , rgb(96, 57, 220) 33% , rgb(239, 147, 12) 34% , rgb(86, 167, 12) 58% , rgb(189, 64, 228) 60% , rgb(150, 148, 245) 68% , rgb(85, 91, 42) 73% , rgb(0, 0, 0) 80% , rgb(29, 174, 161) 83% , rgb(41, 226, 146) 85% , rgb(72, 58, 17) 88%);
background: -ms-radial-gradient(center , circle cover , rgb(0, 0, 0) 1% , rgb(66, 160, 203) 1% , rgb(167, 161, 1) 4% , rgb(224, 226, 148) 5% , rgb(244, 143, 112) 7% , rgb(5, 183, 188) 9% , rgb(139, 43, 172) 11% , rgb(96, 57, 220) 33% , rgb(239, 147, 12) 34% , rgb(86, 167, 12) 58% , rgb(189, 64, 228) 60% , rgb(150, 148, 245) 68% , rgb(85, 91, 42) 73% , rgb(0, 0, 0) 80% , rgb(29, 174, 161) 83% , rgb(41, 226, 146) 85% , rgb(72, 58, 17) 88%);
background: -moz-radial-gradient(center , circle cover , rgb(0, 0, 0) 1% , rgb(66, 160, 203) 1% , rgb(167, 161, 1) 4% , rgb(224, 226, 148) 5% , rgb(244, 143, 112) 7% , rgb(5, 183, 188) 9% , rgb(139, 43, 172) 11% , rgb(96, 57, 220) 33% , rgb(239, 147, 12) 34% , rgb(86, 167, 12) 58% , rgb(189, 64, 228) 60% , rgb(150, 148, 245) 68% , rgb(85, 91, 42) 73% , rgb(0, 0, 0) 80% , rgb(29, 174, 161) 83% , rgb(41, 226, 146) 85% , rgb(72, 58, 17) 88%);
background: -webkit-radial-gradient(center , circle cover , rgb(0, 0, 0) 1% , rgb(66, 160, 203) 1% , rgb(167, 161, 1) 4% , rgb(224, 226, 148) 5% , rgb(244, 143, 112) 7% , rgb(5, 183, 188) 9% , rgb(139, 43, 172) 11% , rgb(96, 57, 220) 33% , rgb(239, 147, 12) 34% , rgb(86, 167, 12) 58% , rgb(189, 64, 228) 60% , rgb(150, 148, 245) 68% , rgb(85, 91, 42) 73% , rgb(0, 0, 0) 80% , rgb(29, 174, 161) 83% , rgb(41, 226, 146) 85% , rgb(72, 58, 17) 88%);






}